<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="dao.impl.test.UserDAOImplTest"/>
      <class name="dao.impl.test.ProductDAOImplTest"/>
      <class name="dao.impl.test.BillDAOImplTest"/>
      <class name="dao.impl.test.BillDetailDAOImplTest"/>
      <class name="dao.impl.test.CategoryDAOImplTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
